* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

.container {
  display: flex;
  gap: 3rem;
}

.container-col {
  display: flex;
  flex-direction: column;
}

.app {
  align-items: center;
  gap: 2rem;
  padding: 5rem;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 2rem;
}

.random-emoji {
  font-size: 30px;
}

.leaderboard {
  font-size: 1.8rem;
}

.leaderboard {
  table-layout: fixed;
  border: solid 0.1rem black;
  border-collapse: collapse;
  width: 40vw;
}

th,
tr,
td {
  width: 50%;
  border: solid 0.1rem black;
}
